* {
	padding: 0;
	margin: 0;
}
/*禁用文本长按复制*/
* {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header {
	padding-top: 20px;
    /* iOS11+中状态栏的高度 */
    padding-top: constant(safe-area-inset-top);
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.HIG-Container {
	height: 100%;
	/*width: 100%;*/
	width: 100%;
}

.HIG_Launch {
	width: 100%;
	height: 100%;
}

.Launch-img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.Launch-img .mask {
	height: 100%;
	background-color: #080808;
	width: 100%;
	position: fixed;
	background-size: cover;
	opacity: 0.43;
}

.Launch-img img {
	position: fixed;
	width: 100%;
	height: 100%;
}

.HIGContent {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	color: #FFFFFF;
}

.HIGContent-header {
	width: 100%;
	height: 40%;
}

.header-block {
	width: 100%;
	height: 50%;
}

.header-content {
	width: 100%;
	height: 50%;
	margin: 0 auto;
	text-align: center;
	display: block;
}

.header-content p {
	margin: 0 auto;
	font-family: helvetica;
	font-size: 2.453rem;
	font-weight: bold;
	color: #FFFFFF;
}

.header-content span {
	position: fixed;
	vertical-align: super;
	font-family: Helvetica Neue;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 0.32rem;
	margin-left: -0.134rem;
	margin-top: 0.4rem;
}

.HIGContent-body {
	width: 100%;
	height: 40%;
}
.swiper-wrapper{
	-webkit-perspective: 3000;
	-webkit-backface-visibility: hidden;
}
.swiper-container {
	/*width: 7.6267rem;*/
	/*height: 4.0534rem;*/
}
.slide-content {
	width: 7.6267rem;
	margin-left: -webkit-calc(50% - 3.81335rem);
	height: 4.5534rem;
}
.swiper-slide .title {
	text-align: center;
	color: #FC355B;
	font-family: SF UI Text;
	font-size: .48rem;
}

.swiper-slide .text {
	padding-top: .4rem;
	font-weight: 500;
	font-size: .4rem;
	text-align: center;
	word-wrap: break-word;
	line-height: 150%;
	text-indent: 2em;
}

.swiper-pagination {
	margin-bottom: .1rem;
}

.HIG_button {
	/*height: 30%;*/
	border-radius: .8rem;
	text-align: center;
	margin: 0 auto;
	width: 60%;
	position: relative;
	background: #FC355B;
	max-height: 1.2rem;
	/*bottom: 45px;*/
}

.HIG_button button {
	/*padding: 0.16rem;*/
	font-family: SF UI Text;
	font-weight: 400;
	font-size: 0.453rem;
	color: #FFFFFF;
	height: 0.88934rem;
	width: 100%;
	background: none;
	border-style: none;
	/*min-height: px;*/
	outline: none;
}

.HIGContent-footer {
	width: 100%;
	font-size: .2934rem;
	height: 40%;
	position: fixed;
	max-height: 3.2rem;
	bottom: -.2134rem;
	font-family: SF UI Text;
	color: rgba(255, 255, 255, 0.24);
}

.HIGContent-footer .line-top {
	height: 45%;
}

.footer-line {
	height: 15%;
}

.footer-left {
	float: left;
	width: 50%;
	height: 80%;
	/*left: 15px;*/
	text-align: left;
	margin-left: .2667rem;
}

.footer-right {
	height: 80%;
	float: right;
	width: 30%;
	text-align: right;
}

.footer-right span {
	margin-right: .2667rem;
}

.modal {
	width: 6.24rem;
	/*height: 9.28rem;*/
	margin-top: -webkit-calc(50% - 1.6rem);
	margin-left: -webkit-calc(50% - 3.12rem);
}

.modal-header {
	text-align: center;
}
/*.26 0.347   .44  0.587  8 10.67  .38 0.5067 .28  .3734 .6 .8  .667 .89 .34 .453*/ 
/*.58 .7734   .36 .48  .3 .4   .12 .16 .22 .2934*/
.modal-header h6 {
	font-size: .453rem;
	color: #393939;
}

.modal-content {
	padding-left: 0.6934rem;
	padding-right: 0.6934rem;
	padding-top: 0.72rem;
	border-radius: .32rem !important;
}

.modal-body p {
	font-size: 0.347rem;
	color: #393939;
}

.modal-body {
	padding: 0.2667rem;
	text-align: center;
}

.modal-footer {
	position: relative;
	border-top: #FFFFFF;
}

.modal-a {
	text-decoration: none;
	text-align: center;
	display: block;
	color: #000000;
	font-size: 0.453rem;
	line-height: 1.0667rem;
	border-top: 1px solid #E5E5E5;
}

.modal-a:hover {
	text-decoration: none;
}

.modal-a.dismissModal {
	color: rgba(57, 57, 57, 0.24);
}
