*{
	padding: 0;
	margin: 0;
}
/*禁用文本长按复制*/
* {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
header {
	padding-top: 20px;
    /* iOS11+中状态栏的高度 */
    padding-top: constant(safe-area-inset-top);
}
body{
	width: 100%;
	height: 100%;
	position:absolute ;
}
.bg{
	background: url(../img/antional.png) no-repeat center center;
	/*当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.LunchImg{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	background: url(../img/antional.png) fixed center center no-repeat;
	display: block;
	background-size: cover;
	height: auto;
}
.StateBar{
	width: 100%;
	height: .5334rem;
	background-color: #FFFFFF;
}
.STBContainer::before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.STBContainer::after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.STBContainer-body{
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	float: none;
	margin-bottom: .2667rem;
}
.mask {
	height: 100%;
    background-color: #080808;
	width: 100%;
	position: fixed;
	background-size: cover;
	opacity: 0.3;
}
.content-main{
	/*float: left;*/
	display: -webkit-box;
	position: relative;
	margin-top: -.5334rem;
}
.content-main img{
	width: .88rem;
	height: 1.2533rem;
}
.content-message{
	font-family: Arial;
	font-weight: bold ;
	color: #FFFFFF;
	font-size: .6667rem;
	line-height: 1.1;
	margin-top: -.08rem;
	margin-left: .1334rem;	
	max-width: 4.533rem;
}
.content-button{
	margin-top: .8rem;
	border: 1px solid #FFFFFF;
	border-radius: .8rem;
	text-align: center;
	outline: none;
}
.content-button button{
	padding: .2667rem;
	font-family: helvetica;
	font-weight: 400;
	font-size: .5333rem;
	color: #FFFFFF;
	border-style: none;
	outline: none;
	background: none;	
}
.STBContainer-footer{
	font-size: .32rem;
	width: 100%;
	color: #FFFFFF;
	position: fixed;
	bottom: 1.7333rem;
	min-height: 1.6rem;
}

.footer-button{
    text-align: center;
	margin: 0 auto;
	width: 60%;
	position: relative;
	display: -webkit-grid;
    display: grid;
}
.footer-button button{
	font-size: .4534rem;
	border-radius: .8rem;
	color: #FFFFFF;	
	height: 0.88934rem;
	position: relative;
	background: none;
	width: 100%;
	/*padding: .1334rem;*/
	border: 1px solid #FFFFFF;
	outline: none;
}
.footer-button span{
	/*margin-top: .4rem;*/
	line-height: 1.2rem;
	/*background-color: #000000;*/
	position: relative;
    font-size: .3467rem;
}
.footer-left{
	float: left;
	/*width: 400px;*/
}
.STBContainer-footer .left-text{
	color: #93EAFF;
	font-weight: bold;	
}
.footer-right{
	font-family: SF UI Text;
	float: right;
	right: 40px;
}
