.mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: #000000;
	opacity: .5;
}
header {
	padding-top: 20px;
    /* iOS11+中状态栏的高度 */
    padding-top: constant(safe-area-inset-top);
}
.SubscribeButton {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	/*height: 10%;*/
}

.SubscribeButton button {
	margin: 0 auto !important;
	min-width:70%;
	/*padding: 6px;*/
	font-size: 0.4534rem;
	outline: none;
	height: 0.88934rem;
	background-color: #3765A3;
	font-family: SF UI Text;
	border-radius: 0.8rem;
	text-align: center;
	border: 1px solid #115F90;
	/*position: relative;*/
	border-style: none;
	color: #FFFFFF;
}

.modal,
.modal-content {
	width: 100%;
	height: 100%;
}

.modal-body {
	width: 100%;
	padding-top: 7.5% !important;
	height: auto;
}

.modal-form {
	width: 100%;
	margin-top: 8% !important;
}

.modal-form p {
	font-family: SF UI Text;
	font-size: 0.34667rem;
	color: rgba(0, 0, 0, .61);
}

.LoginForm {
	/*height: 70%;*/
	position: relative;
}
.SignForm {
	width: 94%;
	position: relative;
	margin: 0 auto;
	margin-top: 8%;
	max-width: 10.667rem;
	border-style: none;
	/*height: 85%;*/
}

.radio_group {
	float: left;
	width: 50%;
	height: 10%;
	display: inline-flex;
	font-family: helvetica;
	 font-size: 0.3734rem;
	font-family: helvetica;
	 font-size: 0.3734rem;
	color: #000000;
	margin-bottom: 5%;
	margin-left: 5%;
	/*margin-left:-webkit-calc(50% - 40%);*/
	
}
.opt{
	margin-right: 5%;
}
.text-group {
	width: 100%;
	/*max-width: 400px;*/
	margin: 0 auto;
	/*height: 85%;*/
	/*margin-top: 6.5%;*/
	/*min-height: 420px;*/
}

.text-group input {
	width: 100%;
	display: grid;
	margin-bottom: 0.2334rem;
	margin-top: .2867rem;
	/*height: 40px;*/
	height: 1.0667rem;
}

input::-webkit-input-placeholder {
	color: #000000;
	font-size: 0.3734rem;
}

.text-group select {
	width: 100%;
	display: grid;
	margin-top: .2867rem;
	max-width: 10.667rem;
	min-height: 1.0667rem;
	border-style: none;
	font-family: helvetica;
	font-size: 0.3734rem;
	outline: none;
	border: 1px solid rgba(222, 222, 222, 1);
	border-radius: 0.8rem;
	padding-left: 0.8rem;
	/*将默认的select选择框的样式清楚*/
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url(../img/select.png) no-repeat scroll 95% center transparent;
}

select::-ms-expand {
	display: none;
}

.modal-footer {
	width: 100%;
	/*height: 20%;*/
	margin-top: 4%;
	border-top: 0px !important;
	/*margin: 0 auto;*/
	position: relative;
	text-align: center !important;
	/*max-height: 120px;*/
	bottom: 0px;
	padding: 15px !important;
}

.modal-footer button {
	min-width: 70%;
	background-color: #FC355B;
	border-style: none;
	outline: none;
	color: #FFFFFF;
	font-family: SF UI Text;
	font-size: 0.4534rem;
	height: 0.88934rem;
	border-radius: 0.8rem;
}

.modal-footer p {
	width: 80%;
	margin: 0 auto;
	/*margin-top: 20px;*/
	margin-top: 4.5%;
	margin-bottom: 5.8%;
	font-family: SF UI Text;
	font-size: .2667rem;
	color: #626262;
	opacity: 0.41;
	/*margin-bottom: 0.8rem;*/
}

.faceModal {
	width: 6.24rem;
	height: 9.28rem;
	margin-top: -webkit-calc(50% - 8%);
	margin-left: -webkit-calc(50% - 3.12rem);
	border: 1px solid #E5E5E5;
	border-radius: .4rem;
}

.faceModal .modal-header {
	text-align: center;
	padding: .2667rem !important;
	height: auto;
}

.faceModal .modal-header h6 {
	font-size: 0.4534rem;
	color: #393939;
}

.faceModal .modal-content {
	padding-left: 0.6934rem;
	padding-right: 0.6934rem;
	padding-top: 0.72rem;
}

.faceModal .modal-body p {
	font-size: 0.3467rem;
	color: #393939;
}

.faceModal .modal-body {
	padding: 0.4rem !important;
	text-align: center;
}

.faceModal .modal-footer {
	position: relative;
	border-top: #FFFFFF;
	margin-top: 0px;
	padding: 0.4rem !important;
}

.faceModal .modal-a {
	text-decoration: none;
	text-align: center;
	display: block;
	color: #000000;
	font-size: 0.4534rem;
	line-height: 1.0667rem;
	border-top: 1px solid #E5E5E5;
}

.faceModal .modal-a:hover {
	text-decoration: none;
}

.faceModal .modal-a.dismissModal {
	color: rgba(57, 57, 57, 0.24);
}