* {
	padding: 0;
	margin: 0;
}
html,body{
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/*.animsition{
	width: 100%;
	position: absolute;
	display: none;
}*/

.content {
	padding: 0 !important;
}

.modal-content {
	border-radius: 0 !important;
	border: 0 !important;
	height: 100%;
}

.modal-title p {
	margin: 0 auto;
}

.HIG-Container {
	height: 100%;
	width: 100%;
}

.modal-header {
	position: relative;
	margin: 0 auto;
	text-align: center;
	border-bottom: 0px !important;
	padding: 0px !important;
	height: 13.5%;
}

.modal-header div {
	font-size: 0.587rem;
	margin-top: 16%;
	font-weight: bold;
	font-family: helvetica;
}

.close::before, .close::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 50%;
  left: -webkit-calc(50% - .29335rem);
  margin-top: -webkit-calc(50% - .29335rem);
  /*margin-top: -1px;*/
  background: #FFFFFF;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}	
.close::before, .close::after {
  height: 0.03344rem;
}
.close {
	background-color: #E1E1E1 !important;
	opacity: 1 !important;
	border-radius: .5867rem;
	line-height: 2;
	text-align: center;
	height: 1.1734rem;
	width: 1.1734rem;
	font-size: .4267rem;
	padding: .2667rem;
	visibility: visible;
}

/*.close:before {
	content: url(../img/close.png);
	color: #FFFFFF;
	height: .5867rem;
	width: .5867rem;
}*/

.close {
	top: 2em;
	right: .5rem;
	position: absolute;
	z-index: 999;
	margin-top: 0px;
}

.modal-body {
	position: fixed;
	margin: 0 auto;
	padding-top: 10% !important;
	/*background-color: #398439;*/
	height: 49.5%;
	z-index: 99;
}

.modal-form {
	text-align: center;
	font-family: SF UI Text;
	font-size: 0.347rem;
}

.modal-form .LoginForm {
	display: grid;
	width: 91%;
	max-width: 10.67rem;
	position: relative;
	margin: 0 auto;
	margin-top: -webkit-calc(1.6% - .5067rem);
	border-style: none;
}

input[type='text'],
input[type="password"],
input[type="email"] {
	margin-top: 0.5067rem;
	height: 1.067rem;
	background: no-repeat 0 0 scroll #FFFFFF;
	border: none;
	outline: medium;
	width: 100%;
	font-family: Helvetica Neue;
	font-size: .3734rem;
	border-radius: .8rem;
	border: 1px solid rgba(222, 222, 222, 1);
	padding-left: .8rem;
}

.LoginForm input::-webkit-input-placeholder {
	color: #000000;
	font-size: .3734rem;
	/*padding-left: 20px;*/
}

input:focus::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .07);
}

.modal {
	border-radius: 0px;
}

.modal-form .ForgotMessage {
	font-family: SF UI Text;
	font-size: .347rem;
	margin: 0px auto;
	padding-top: 4.5%;
	width: 91%;
	max-width: 10.67rem;
	text-align: right;
}

.modal-button {
	/*min-width: 50%;*/
	display: -webkit-grid;
	position: relative;
	margin-top: 6.2%;
}

.imgClass {
	top: 0px;
	width: 100%;
}

.button-a {
	width: 70%;
	background-color: #FC355B;
	border-radius: .8rem;
	display: block;
	margin: 0 auto;
	line-height: .89rem;
	border-style: none;
	min-height: .89rem;
	font-size: .453rem;
	font-family: SF UI Text;
	color: #FFFFFF;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.curt {
	background-color: #3765A3;
	border: 1px solid #3765A3;
}

.button-a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.modal-button button {
	min-width: 70%;
	background-color: #FC355B;
	border-radius: .8rem;
	border-style: none;
	min-height: .89rem;
	font-size: .453rem;
	font-family: SF UI Text;
	color: #FFFFFF;
	outline: none;
}

.modal-button p {
	font-family: SF UI Text;
	font-size: .347rem;
	margin-top: 4%;
	color: #FC355B;
	padding-bottom: 4.5%;
}

.modal-footer {
	width: 100%;
	overflow: hidden !important;
	padding: 0px !important;
	z-index: 1;
	border-top: 0 !important;
	/*	height: 500px;*/
}

.modal-footer img {
	width: 100%;
	margin: auto;
	height: auto;
	z-index: 2;
}

.imgbg {
	width: 100%;
	z-index: 2;
	/*height: 500px;*/
	background: url(../img/offrecopie.png) no-repeat left top;
	background-size: 100%;
	margin: auto;
}

.modal-footer .SelectList {
	position: absolute;
	z-index: 3;
	width: 100%;
	text-align: center;
	display: grid;
}

.SelectList .free {
	padding-top: 1.5rem;
	font-size: .7734rem;
/*	height: 0.97rem;*/
	font-weight: bold;
	font-family: helvetica;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
}

.SelectList .price {
	width: 62.2%;
	margin: 0 auto;
	border-radius: .8rem;
	height: .89rem;
	background: none;
	color: #FFFFFF;
	/*color: red;*/
	font-size: .453rem;
	font-family: SF UI Text;
	border-style: none;
	border: 1px solid #FFFFFF;
	margin-top: .2rem;
}

.SelectList .commitment {
	color: #FFFFFF;
	font-size: .347rem;
	margin: 0 auto;
	position: relative;
	margin-top: .2rem;
	/*top: .75rem;*/
	height: 0.4267rem;
}


/*上滑动画*/
.animation {
	animation: mymove 3s;
	-webkit-animation: mymove 3s;
}

@keyframes mymove {
	from {
		top: 300px
	}
	to {
		top: 0px;
	}
}

@-webkit-keyframes mymove {
	from {
		top: 300px;
	}
	to {
		top: 0px;
	}
}


/*下滑动画*/
.animation_down {
	animation: mydown 3s;
	-webkit-animation: mydown 3s;
}

@-webkit-keyframes mydown {
	from {
		top: 0px;
	}
	to {
		top: 300px;
	}
}

@keyframes mydown {
	from {
		top: 0px;
	}
	to {
		top: 300px;
	}
}