* {
	padding: 0;
	margin: 0;
}
/*禁用文本长按复制*/
* {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header {
	padding-top: 20px;
    /* iOS11+中状态栏的高度 */
    padding-top: constant(safe-area-inset-top);
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.HIG-Container {
	height: 100%;
	width: 100%;
}

/*.HIG_Launch {
	width: 100%;
	height: 100%;
}*/

.HIGContent {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.HIGContent-header {
	width: 100%;
	height: 31.6%;
}
.header-content {
	width: 100%;
	height: 40%;
	margin: 0 auto;
	text-align: center;
	display: block;
	padding-top: 34.5px;
}

.header-content p {
	margin: 0 auto;
	font-family: SF UI Text;
	font-size: 0.4534rem;
	color: #777777;
}

.header-content span {
	position: fixed;
	vertical-align: super;
	font-family: SF UI Text;
	color: #FFFFFF;
	font-size: 0.4534rem;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 50%;
  left: -webkit-calc(50% - .29335rem);
  margin-top: -webkit-calc(50% - .29335rem);
  /*margin-top: -1px;*/
  background: #FFFFFF;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}	
.close::before, .close::after {
  height: 0.03344rem;
}
.close {
	background-color: #E1E1E1 !important;
	opacity: 1 !important;
	border-radius: .5867rem;
	line-height: 2;
	text-align: center;
	height: 1.1734rem;
	width: 1.1734rem;
	font-size: .4267rem;
	padding: .2667rem;
	visibility: visible;
}
.close {
	top: 1rem;
	right: .5rem;
	position: absolute;
	margin-top: 0px;
}
.HIGContent-body {
	width: 100%;
	height: 45%;
	text-align: center;
	/*margin-top: 41%;*/
}
.HIGContent-body img{
	margin-left: -20px;
}
.imgMask
{
	position: absolute;
	left: -webkit-calc(50% - 32px);
	/*display: none;*/
	visibility: hidden;
}
.swiper-container {
	width: 100%;
	height: 52.3%;
	margin-top: 8.6%;
	/*background-color: #000000;*/
}

.swiper-slide .title {
	text-align: center;
	color: #FC355B;
	font-family: SF UI Text;
	font-size: 0.4534rem;
}

.swiper-slide .text {
	padding-top: 2.75%;
	font-size: 0.3467rem;
	font-family: SF UI Text;
	text-align: center;
	word-wrap: break-word;
	color: #393939;
	opacity: 0.52;
}

.swiper-pagination {
	margin-bottom: 1.4rem;
	display: block;
}

.swiper-pagination-bullet{
	opacity: 0.1 !important;
}
.swiper-pagination-bullet-active
{
	opacity: 1 !important;
	background: #FC355B !important;
}
.HIG_button {
	height: 30%;
	border-radius: 30px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	position: relative;
	/*background-color: #FC355B;*/
	/*max-height: 45px;*/
}

.HIG_button button {
	padding: .16rem;
	font-family: SF UI Text;
	font-weight: 400;
	font-size: 0.4534rem;
	color: #FFFFFF;
	width: 100%;
	background: none;
	border-style: none;
	outline: none;
}
.button-a{
width: 70%;
background-color: #FC355B;
border-radius: .8rem;
display: block;
margin: 0 auto;
line-height: 0.88934rem;
border-style: none;
min-height: .88934rem;
font-size: 0.4534rem;
font-family: SF UI Text;
color: #FFFFFF;
outline: none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.button-a:hover{
color: #FFFFFF;
text-decoration: none;
}
.btn_trans {
	/*background-color: rgba(0,0,0,.4);*/
	background: none !important;
	border: 1px solid rgba(255, 255, 255, .25);
	margin-top: .6rem;
}
.HIGContent-footer {
	width: 100%;
	font-size: .02934rem;
	/*height: 40%;*/
	position: fixed;
	max-height: 3.2rem;
	margin-top: 6.3%;
	height: 24%;
	font-family: SF UI Text;
	color: rgba(255, 255, 255, 0.24);
}

.HIGContent-footer {
	/*height: 49%;*/
	text-align: center;
	/*background-color: #000000;*/
}
.footer-content{
	margin-top: 3.7%;
}
.footer-content p{
	font-family: SF UI Text;
	color: #FC355B;
	font-size: 0.3467rem;
}
