* {
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header {
	padding-top: 20px;
    /* iOS11+中状态栏的高度 */
    padding-top: constant(safe-area-inset-top);
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.HIG-Container {
	height: 100%;
	width: 100%;
}

.HIG_Launch {
	width: 100%;
	height: 100%;
}

.HIGContent {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.HIGContent-header {
	width: 100%;
	height: 31.6%;
}
.header-content {
	width: 100%;
	height: 40%;
	margin: 0 auto;
	text-align: center;
	display: block;
	padding-top: 1rem;
}
label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: .2667rem;
}
.header-content p {
	margin: 0 auto;
	font-family: SF UI Text;
	font-size: 0.4534rem;
	color: #777777;
}

.header-content span {
	position: fixed;
	vertical-align: super;
	font-family: SF UI Text;
	color: #FFFFFF;
	font-size: 0.4534rem;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 50%;
  left: -webkit-calc(50% - .29335rem);
  margin-top: -webkit-calc(50% - .29335rem);
  /*margin-top: -1px;*/
  background: #FFFFFF;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}	
.close::before, .close::after {
  height: 0.03344rem;
}
.close {
	background-color: #E1E1E1;
	opacity: 1 !important;
	border-radius: .5867rem;
	line-height: 2;
	text-align: center;
	height: .5867rem;
	width: .5867rem;
	font-size: .4267rem;
	padding: .275rem;
	visibility: visible;
}
.close {
	top: .8rem;
	right: .5rem;
	position: absolute;
	margin-top: 0px;
}

input[type='text'],
input[type="password"],
input[type="email"] {
	margin-top: 0.6567rem;
	height: 1.067rem;
	background: no-repeat 0 0 scroll #FFFFFF;
	border: none;
	outline: medium;
	width: 90%;
	font-family: Helvetica Neue;
	font-size: .3734rem;
	border-radius: .8rem;
	border: 1px solid rgba(222, 222, 222, 1);
	padding-left: .8rem;
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}

input::-webkit-input-placeholder {
	color: #000000;
	font-size: .3734rem;
	/*padding-left: 20px;*/
}

input:focus::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .07);
}
.changeBtn{
	color: #D5D5D5 !important;
	border: 1px solid #D5D5D5 !important;
	margin-top: .5rem !important;
}
.WifiBody{
	position: relative;
	margin: 0 auto;
	margin-top: calc(50%);
	text-align: center;
	width: 90%;
	
}
.checkSelect{
	float: left;
	/*margin-left: 5%;*/
	margin-top: .35rem;
}

.checkSelect>input[type='checkbox']{
	visibility: hidden;
}
.checkSelect label {  
    cursor: pointer;  
    position: relative; 
    display: inline-block; 
    width: .44rem;  
    height: .44rem;  
    top: 0;  
    left: -.3rem;  
    background: #fff;  
    border:.02rem solid #ccc;  
    -moz-border-radius: .48rem;      /* Gecko browsers */  
    -webkit-border-radius: .48rem;   /* Webkit browsers */  
    border-radius:.48rem;            /* W3C syntax */  
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}  
.checkSelect label:after {  
    opacity: 0;  
    content: '';  
    position: absolute;  
    width: .2667rem;  
    height: .1334rem;  
    background: transparent;  
    top: .08rem;  
    left: .08rem;  
    border: .02rem solid #FC355B;  
    border-top: none;  
    border-right: none;  
    -webkit-transform: rotate(-45deg);  
    -moz-transform: rotate(-45deg);  
    -o-transform: rotate(-45deg);  
    -ms-transform: rotate(-45deg);  
    transform: rotate(-45deg);  
}  
/*.mycheck label:hover::after {  
 opacity: 0.5;  
}  */
.checkSelect input[type=checkbox]:checked + label:after {  
    opacity: 1;  
}
.checkSelect p{
	display: block;
	position: absolute;
	width: 4rem;
	text-align: left;
	margin-left: .65rem;
	color: #000000;
	font-size: .3734rem;
	font-weight: 300;
	line-height: .44rem;
	font-family: helvetica;
} 
.WifiBody .title{
	text-align: center;
	font-size: 0.5867rem;
	font-weight: bold;
	font-family: helvetica;
}
.WifiBody>p{
	color: rgba(0,0,0,0.66);
	font-family: SF UI Text;
	font-size: 0.3467rem;
	margin: 0 0 0 10px;
}
.WifiFooter{
	position: absolute;
	display: block;
	width: 100%;
	top: calc(80%);
}
.button-a {
	/*width: 70%;*/
	background-color: #FC355B;
	border-radius: .8rem;
	display: block;
	margin: 0 auto;
	line-height: .88934rem;
	border-style: none;
	min-height: .88934rem;
	font-size: .4534rem;
	font-family: SF UI Text;
	color: #FFFFFF;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn_trans {
	/*background-color: rgba(0,0,0,.4);*/
	background: none !important;
	border: 1px solid rgba(255, 255, 255, .25);
	margin-top: 1.5rem;
}
.button-a:hover{
color: #FFFFFF;
text-decoration: none;
}
.HIG_button {
	height: 30%;
	border-radius: 30px;
	text-align: center;
	margin: 0 auto;
	width: 60%;
	position: relative;
	/*background-color: #FC355B;*/
	max-height: 45px;
}